!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/
    %link{href: "https://fonts.googleapis.com/css?family=Limelight|Flamenco|Federo|Yesteryear|Josefin Sans|Spinnaker|Sansita One|Handlee|Droid Sans|Oswald:400,300,700", media: "screen", rel: "stylesheet", type: "text/css"}/
    %link{href: "/stylesheets/bootstrap.css", media: "screen", rel: "stylesheet", type: "text/css"}/
    %link{href: "/stylesheets/bootstrap-responsive.css", media: "screen", rel: "stylesheet", type: "text/css"}/
    %link{href: "/stylesheets/common.css", media: "screen", rel: "stylesheet", type: "text/css"}/
    %link{href: "/stylesheets/fontawesome.css", media: "screen", rel: "stylesheet", type: "text/css"}/
    %link{href: "/stylesheets/project.css", media: "screen", rel: "stylesheet", type: "text/css"}/
    %link{href: "/stylesheets/asana-personal.css", media: "screen", rel: "stylesheet", type: "text/css"}/
    %script{:type => "text/javascript", :src  => "https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"}
    :javascript
      $(document).ready( function() {
        $('body').hide();
        $('body').fadeIn(400);
      } );
    /
      Typekit fonts require an account and a kit containing the fonts used. see https://typekit.com/plans for details. <script type="text/javascript" src="//use.typekit.net/YOUR_KIT_ID.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    %title Asana Personal
  %body
    / .container
    /   %div.logo
    .container
      - @active_project_data.each do |proj| 
        %h4.heading= proj["name"]
        .row-fluid
          %span.span12
            .div-1
              - proj["tasks"].each do |t|
                .page-header
                  %h1= t["name"]
                -if t["due_on"] != nil
                  %p.p-1
                    %span.dateTitle> Due Date:
                    \ 
                    %span.date= t["due_on"]
                  %a.complete_task{href: "/complete_task/#{t["id"]}"} Mark Complete
                %div
                  %span
                #dom-elem-24.dom-body-text.paragraph
                / %span
                / %span
                %p.p-2= t["notes"]
                -if t["subtasks"] != nil
                  %div.subs
                    %h5 Subtasks
                    -t["subtasks"].each do |subtask|
                      %p.p-1.subtask_wrapper
                        %span> 
                        \ 
                        %span.subtask= subtask["name"]
                        -if subtask["due_on"] != nil
                          %br
                          %span.dateTitle.subtask_date> Due Date:
                          \ 
                          %span.date= subtask["due_on"]
                        %br
                        %a.complete_subtask{href: "/complete_task/#{subtask["id"]}"} Mark Complete
    