%h1= @project.name
%p=  @project.notes

%p NEXT MILESTONE:
%h2= @milestone.name

- @userList.each do |user| 
  %h2= user
  - @allAssignedTasks.each do |task|
    - if task.assignee.name == user
      %p= task.name
